:root {
  font-family: "Spartan", sans-serif;
  line-height: 1.3;
  --black-coffee: #2c241e;
  --sweet-brown: #b03734;
  --tumbleweed: #caa082;
  --hookers-green: #5e725e;
  --powder-blue: #b0d9dc;
  --dusty-gray: #999394;
  --orange: #fd8f3e;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background: linear-gradient(#66dde6, #1f684d);
  display: flex;
  justify-content: center;
  align-items: center;
  overflow: none;
  min-height: 100vh;
  font-size: calc(0.5em + 1vh);
}

.wrapper {
  width: 90%;
  margin: 2em;
}

.form-wrapper {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-gap: 1em;
  background-color: var(--black-coffee);
  color: var(--dusty-gray);
  border-radius: 1em;
}

form {
  padding: 2em 3em 2em 1em;
}

.image {
  width: 100%;
  background: url("./alex-meier-5S7i0ORPoYY-unsplash.jpg") no-repeat;
  background-size: cover;
  border-top-left-radius: 1em;
  border-bottom-left-radius: 1em;
}

.item {
  padding: 0.5em 0;
  display: grid;
  grid-template-columns: auto 1fr auto;
  align-items: center;
}

.item button {
  background-color: var(--sweet-brown);
  border: none;
  padding: 0.5em 0.8em 0.3em;
  font: inherit;
  font-weight: bold;
  cursor: pointer;
  border-radius: 0.5em;
  text-align: center;
  justify-self: end;
}

.item input[type="number"] {
  width: 6em;
  font: inherit;
  padding: 0.5em 0.3em 0.3em;
  margin-right: 0.5em;
  color: var(--black-coffee);
  background: var(--dusty-gray);
  border-radius: 0.3em;
  border: none;
  text-align: right;
}

.item input[type="text"],
.otras-opciones {
  width: 6em;
  font: inherit;
  padding: 0.5em 0.3em 0.3em;
  margin-right: 0.5em;
  color: var(--black-coffee);
  background: var(--dusty-gray);
  border-radius: 0.3em;
  border: none;
  text-align: left;
}

.otras-opciones {
  width: 100%;
  text-align: left;
  padding: 0.5em 0.3em;
  margin-top: 0.5em;
}

button[type="submit"] {
  background-color: var(--orange);
  font: inherit;
  font-weight: bold;
  border: none;
  padding: 0.8em 0.5em;
  border-radius: 0.5em;
  margin-top: 1em;
  width: 100%;
  cursor: pointer;
}

.modal-outer {
  display: grid;
  justify-content: center;
  align-items: center;
  height: 100vh;
  width: 100vw;
  top: 0;
  left: 0;
  position: fixed;
  background: rgba(255, 255, 255, 0.5);
  pointer-events: none;
  opacity: 0;
  transition: opacity 0.8s;
}

.modal-inner {
  background: var(--hookers-green);
  padding: 1em;
  border-radius: 1em;
  /* height: 50%; */
  width: 100%;
  height: 50%;
}

.modal-inner textarea {
  font: inherit;
  padding: 1em;
  line-height: 1.5;
  height: 100%;
  width: 100%;
  border: none;
}

.modal-outer.open {
  opacity: 1;
  pointer-events: all;
}

@media (max-width: 550px) {
  body {
    font-size: calc(0.5em + 1vw);
  }
  .form-wrapper {
    grid-template-columns: 1fr;
  }
}
